@{
    ViewBag.Title = "About";
}
<!-- Slider -->


<main>
    <div class="jumbotron jumbotron-fluid" style="margin-top: 140px; background-position-y: -350px; background-image: url('/Content/image-home-user/do-an-cute_095146414.jpg'); height: 600px">
        <div class="Tieude">
            <div class="container">
                <h1 class="display-4" style="background-color:white">Chào mừng bạn đến với SAYUFOOD</h1>
               
                @*<p style="color:red">Giới Thiệu</p>*@
            </div>
        </div>
    </div>


</main>
<div class="content-about" style="font-size: 15px; width: 80%; margin-left: 280px">
    <h1 class="display-4">Giới Thiệu</h1>
    <p>Hãy hưởng thụ cuộc sống bằng việc ăn ngon mỗi ngày.</p>

    <p>Đồ ăn vặt là các loại thức ăn phục vụ cho việc ăn giữa các bữa ăn và thường dưới hình thức thực phẩm đóng gói và chế biến sẵn cũng như mặt hàng làm từ nguyên liệu tươi được đóng gói ăn liền. Vì thế SAYUFOOD đã mong muốn đem đến những sản phẩm ăn vặt ngon nhất và được nhập thường xuyên đến tay khách hàng.</p>
    <p>SAYUFOOD đa dạng các loại đồ ăn vặt sẵn sàng phục vụ quý khách.</p>
</div>


<!-- Banner -->
<!-- Benefit -->
