@model SAYUFOOD.Models.ShoppingCart

@{
    ViewBag.Title = "Thanh Toán";
}

<link href="~/Content/assets/styles/categories_responsive.css" rel="stylesheet" />
<link href="~/Content/assets/styles/categories_styles.css" rel="stylesheet" />

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <!--Main Container-->
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h1>Thanh Toán</h1>
                    <p>Hãy kiểm tra lại thông tin đơn hàng của bạn !!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Thông tin khách hàng</h3>
                    <div class="form-group">
                        <label>Họ tên khách hàng</label>
                        <input type="text" name="Tên khách hàng" class="form-control" autocomplete="off" style="margin-right:0px" />
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input type="text" name="Tên khách hàng" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input type="text" name="Tên khách hàng" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="Tên khách hàng" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Hình thức thanh toán</label>
                        <select class="form-control" name="Payment" style="height: 35px">
                            <option value="COD">COD</option>
                            <option value="Banking">Chuyển khoản</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" style="width: 280px">Đặt hàng</button>
                    </div>

                </div>


                <!--Check gio hang-->
                <div class="col-md-6">
                    <div class="row>">
                        <div class="col-md-8" style="padding-left: 1px">
                            <h3>Giỏ hàng của bạn</h3>
                        </div>
                        <div class="col-md-4"style="text-align:right">
                            <h3>@Html.Action("Bagcart", "ShoppingCart")</h3>
                        </div>

                    </div>
                    

                    @if (Model != null)
                    {
                        <table class="table" style="border:1px solid #000000">
                            @foreach (var item in Model.Items)
                            {
                                double total = (double)item.Shopping_Product.Price * item.Shopping_Quantity;

                                double sol = total / (double)item.Shopping_Product.Price;
                                <tr>
                                    <td>
                                        @item.Shopping_Product.Title
                                    </td>
                                    <td>
                                        @sol
                                    </td>
                                    <td>
                                        @item.Shopping_Product.Price
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>Tổng tiền giỏ hàng: </td>
                                <td> </td>
                                <td><b>@Model.Total_money()</b></td>
                            </tr>
                        </table>

                    }




                </div>
            </div>
        </div>
    </div>
</div>


