body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}
.jumbotron {
    
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 200px 0;

}

    .jumbotron h1 {
        font-size: 50px;
        margin-bottom: 20px;
        color: #ff0000;
    }

    .jumbotron p {
        font-size: 24px;
        margin-bottom: 40px;
        color: #333;
    }

.button {
    display: inline-block;
    background-color: #ffd000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color;
}

.btn:hover {
    background-color: #FFA500;
}

